header {
	background-color: white;
	background-image: url('../images/logo.png');
	background-position: 0 0 0 4ch;
	background-repeat: no-repeat;
	border-bottom: thin solid #CCCCCC;
	box-sizing: border-box;
	height: 4em;
	padding-left: 4ch;
	width: 100%;
}
